/* Reset some basic elements */
body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333; /* Dark grey for text for better readability */
}

/* Basic styling */
body {
    background-color: #fff; /* White background */
    line-height: 1.6;
}

header {
    background: #eee; /* Light grey background for header */
    color: #333; /* Dark grey text */
    text-align: center;
    padding: 1rem 0;
}

nav .info-link {
    color: #333; /* Dark grey text */
    text-decoration: none;
    font-size: 1.2rem;
}

nav .info-link:hover {
    text-decoration: underline;
    color: #555; /* Slightly lighter grey for hover effect */
}

main {
    padding: 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #222; /* Slightly darker text for heading */
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #666; /* Lighter grey text for paragraph */
}

.chatbot-container {
    background-color: #fff; /* White background for chatbot container */
    border: 1px solid #ddd; /* Border color set to a light grey */
    padding: 2rem;
    margin: auto;
    width: 60%;
    min-height: 400px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #eee; /* Light grey background for footer */
    color: #333; /* Dark grey text */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .chatbot-container {
        width: 90%;
    }
}

